@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;    
    padding: 0;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
    --btn-1: #da70d6;
    --btn-2: #00bfff;
    --btn-3: #131415;
    --color-text: #040931;
}

body{
    background: rgb(238,219,174);
    background: linear-gradient(9deg, rgba(238,219,174,1) 0%, rgba(175,207,245,1) 84%);
    
}

#pricing-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

#principal-card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    height: 550px;
    width: 1200px;
    padding: 40px;
    gap: 40px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.card1 span{
    font-size: 40px;
}

.card1 h1{
    font-size: 50px;
}

.btn-now{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--btn-1);
}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.card2 span{
    font-size: 40px;
}

.card2 h1{
    font-size: 50px;
}

.btn-contract{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--btn-2);
}

.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.card3 span{
    font-size: 40px;
}

.card3 h1{
    font-size: 50px;
}

.btn-free{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--btn-3);
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

footer h1{
    font-size: 20px;
}

footer img{
    height: 50px;
}